<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="formatsSuitableForOpening" value="Image Files(*.BMP;*.JPG;*.GIF;*.PNG)|*.BMP;*.JPG;*.GIF;*.PNG|All files (*.*)|*.*"/>
    <add key="formatsSuitableForSaving" value="Image Files(*PNG)|*.PNG|Image Files(*JPG)|*.JPG|Image Files(*BMP)|*.BMP|Image Files(*GIF)|*.GIF|All files(*.*)|*.*"/>
    <add key="errorMessageWhenOpening" value="Unable to Open Selected File"/>
    <add key="errorMessageWhenSaving" value="Unable to Save Image"/>
  </appSettings>
</configuration>